<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    {{!-- local css connection --}}
<link rel="stylesheet" href="../public/styles/styles.css">

    <title >Rate Your Employees!</title>
  <style> 
body {background-color: #223982;}
h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
button, input, btn-secondary{
  box-shadow: 10px 10px 5px rgb(145, 143, 143);
  border: 1px solid #E0EF4D;
  border-radius: 7px;
}
  </style>


  </head>
  <body>     
    <div class="jumbotron jumbotron-fluid" style="background-color: #F2EDF0">  
      
 <div class="container" style="color: #0024BD; text-align:center">
        <h1>Rate Your Employees</h1>
            <form>
            <input class="form-control form-control-lg"    style=" color:#0024BD" type="text" placeholder="Search employee by name" id="employee-search">
            <input type="submit" style="display: none" />
          </form>

          <br>
<div class="d-flex justify-content-md-around"> 
        <div class="employee-search-buttons"  style="color: #E0EF4D">
          <button
            type="button"
            class="btn-secondary "
            id="search-Employee"
            style="background-color: #E0EF4D; color:#0024BD"
          >
           Search Employee
          </button>
           <button
            type="button"
            class="btn-secondary "
            id="list-Employee"
            style="background-color: #E0EF4D; color:#0024BD"
          >
            Employee Database
          </button>
          <button
            type="button"
            class="btn-secondary"
            id="search-Department"
            style=" background-color: #E0EF4D; color:#0024BD"
          >
            Search by Department
          </button>
                  <button
            type="button"
            class="btn-secondary"
            id="add-Employee"
            style="background-color: #E0EF4D; color:#0024BD"
          >
           Add Employee
          </button>
        </div>
      </div>

           </div> 


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>