.list-group-item {
  line-height: 2.5;
}

.jumbotron {
  background-color: #F2EDF0;
}

.container {
  color: #0024BD; 
  text-align: center;
}

.form-control {
  color:#0024BD;
}

li {
  color: white;
}

body {
  background-color: #223982;
  color: white;
}

p {
  color: black;
}

.database {
  color: black;
}

.wp-rating-score {
  color: black;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
a,
input,
.btn-secondary {
  box-shadow: 10px 10px 5px rgb(145, 143, 143);
  border: 5px solid #e0ef4d;
  background-color: #E0EF4D;
   color:#0024BD;
  border-radius: 7px;
  padding: 3px;
}

.btn-secondary:hover {  
  background-color: #E0EF4D;
  border: 3px solid #0024BD;
}

h2, h3, h4{
  color: black;
}

.modal-body{
  color: black;
  align-content: flex-start;
}
/* .flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 150px;
  color: #e0ef4d;
}

.employee-search-buttons {
  display: flex;
  padding: 20px;
  align-items: center;
}
#search-buttons {
  justify-content: space-evenly;
  padding: 100px;
} */
